.app-container {
  display: flex;
  min-height: 100vh;
}

.sidebar-container {
  width: 300px; /* Largura da Sidebar */
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto; /* Adiciona scroll se o conteúdo for muito longo */
  margin: 15px 15px 0 15px
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-right: 15px;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #181818;
}